@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-color: #374B32;
    --secondary-color: #4CA035;
    --tertiary-color: #3d5e35;
    --inverse-color: orange;
    --text1-color: white;
    --text2-color: #171717;
    --text3-color: #555;
    --background: white;
    /* --background: #2C332B; */
    --header: white;
    --gradient: linear-gradient(90deg, #47753B 0%, #8BC34A 100%);
    --blur: blur(5px);
}

/* Configurações globais */
* {
    font-family: 'Inter Tight', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.email-response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: var(--gradient);
    color: var(--text1-color);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.email-response h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.video {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.video iframe {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--background);
    color: var(--text3-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#button:hover {
    background-color: var(--main-color);
    color: var(--text1-color);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .video iframe {
        width: 100%;
    }

    .email-response h1 {
        font-size: 1.5rem;
        text-align: center;
    }
}
